<form action="{{ path('simple_it_claire_exercise_resource_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
