<h2>Titre</h2>
{% if locked %}<div>Édition vérouillée</div>{% endif %}
<form action="{{ path('web_exercise_model_title_edit',
{ 'exerciseModelId': exerciseModel.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
