<ul>
    {% for ownerResource in ownerResources %}
        <li>
            <a href="{{ path('simple_it_claire_exercise_owner_resource_edit',{ 'ownerResourceId': ownerResource.id}) }}">
                <span>
                    {{ ownerResource.id }}
                </span>
            </a>
            <ul>
                <li>
                    Public : {{ ownerResource.public }}
                </li>
                {% if ownerResource.content.source is defined %}
                    <li>
                        Source : {{ ownerResource.content.source }}
                    </li>
                {% elseif ownerResource.content.sequenceType is defined %}
                    <li>
                        Type de séquence : {{ ownerResource.content.sequenceType }}
                    </li>
                {% elseif ownerResource.content.question is defined %}
                    <li>
                        Question : {{ ownerResource.content.question }}
                    </li>
                {% endif %}
                <li>
                    Metadonnées :
                    <ul>
                        {% for key, value in ownerResource.metadata %}
                            <li>
                                {% if key == "_misc" %}
                                    Divers :
                                    <ul>
                                        {% for miscVal in value %}
                                            <li>
                                                {{ miscVal }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ key }} : {{ value }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
