{% extends 'SimpleITClaireExerciseBundle:Exercise/Exercise/OrderItems/Component:container.html.twig' %}

{% block question %}

    <form action="{{ path('simple_it_claire_component_exercise_item_by_attempt_answer',
    { 'attemptId': attemptId,'itemId': itemId }) }}" method="post">

        {% set _cptObj = 0 %}
        <table cellpadding="10">
            <tbody>
            {% for obj in item.objects %}
                <tr>
                    <td>{{ _cptObj }}</td>
                    <td> -</td>
                    {% if obj.source is defined %}
                        <td>
                            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ obj.source }}"
                                 alt="{{ obj.source }}." align="center"/></td>
                    {% elseif obj.text is defined %}
                        <td>{{ obj.text }}</td>
                    {% endif %}
                </tr>

                {% set _cptObj = _cptObj + 1 %}
            {% endfor %}
            </tbody>
        </table>

        {% set _cptObj = 0 %}
        <table cellpadding="10">
            <tbody>
            <tr>
                {% for obj in item.objects %}
                    <td>
                        {% if (item.giveFirst == "true" and _cptObj == 0) or (item.giveLast ==
                        "true" and _cptObj == (item.objects | length) - 1) %}
                            <input id="answer{{ _cptObj }}"
                                   type="text"
                                   size="2"
                                   name="answers[{{ _cptObj }}]"
                                   value="{{ _cptObj }}"
                                   readonly="true"
                                    />
                        {% else %}
                            <input id="answer{{ _cptObj }}"
                                   type="text"
                                   size="2"
                                   name="answers[{{ _cptObj }}]"
                                    />
                        {% endif %}
                    </td>
                    {% set _cptObj = _cptObj + 1 %}
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <input type="submit" value="Envoyer" class="submit-button"/>
    </form>
{% endblock %}
