{% extends 'SimpleITClaireExerciseBundle:Exercise/Exercise/OrderItems/Component:container.html.twig' %}

{% block question %}

    {% set _cptObj = 0 %}
<table cellpadding="10"><tbody>
    {% for obj in item.objects %}
                <tr>
                    <td>{{ _cptObj }}</td>
                    <td> - </td>
                {% if obj.source is defined %}
                    <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ obj.source }}"
                             alt="{{ obj.source }}." align="center"/></td>
                {% elseif obj.text is defined %}
                <td>{{ obj.text }}</td>
                {% endif %}
            </tr>

        {% set _cptObj = _cptObj + 1 %}
    {% endfor %}
        </tbody></table>

    <table cellpadding="10"><tbody>
        <tr>
            {% for ans in item.answers %}
                <td>{{ ans }}</td>
            {% endfor %}
            {% if item.allRight %}
                <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/right.png") }}"
                        alt="Tout juste." align="center"></td>
            {% else %}
                <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/wrong.png") }}"
                            alt="Faux." align="center"></td>
            {% endif %}
        </tr>
        {% if not item.allRight %}
            <tr>
                {% for sol in item.solutions %}
                    <td>{{ sol }}</td>
                {% endfor %}
            </tr>
        {% endif %}
    </tbody></table>

{% endblock %}

