<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Claire</title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">

    <!-- included vendors -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/fileupload.js') }}"></script>

    <!-- common client app assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/routes.js') }}"></script>

    <!-- teacher assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>

    <!-- learner assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/services.js') }}"></script>

    <!-- basic client app context definition -->
    <script>
        var BASE_CONFIG = {
            urls: {
                api: {
                    resources: "{{ path('api_exercise_resource_list') }}",
                    models: "{{ path('api_exercise_model_list') }}",
                    attempts: "{{ path('api_attempt_list') }}",
                    exercises: "{{ path('api_exercise_list') }}",
                    users: "{{ path('api_user_list') }}"
                },
                partials: {
                    teacher: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/teacher') }}",
                    learner: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/learner') }}"
                },
                images: {
                    uploads: "{{ asset('uploads/claire_exercise/') }}",
                    exercise: "{{ asset('bundles/simpleitclaireexercise/images/exercise/') }}"
                }
            },
            language: 'fr'
        };
        angular.module('mainApp').value('BASE_CONFIG', BASE_CONFIG);
    </script>

</head>
<body ng-controller="mainController">

<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">Apprenants</a>
            <ul class="nav navbar-nav">
                <li><a ui-sref="learner">Exercices</a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">Enseignants</a>
            <ul class="nav navbar-nav">
                <li><a ui-sref="model">Modèles d'exercices</a></li>
                <li><a ui-sref="resource">Resources</a></li>
                <li><a href class="navbar-brand"><i class="glyphicon glyphicon-user pull-right"></i></a>
                </li>
                <li>
                    <a href class="navbar-brand" ng-model="toggleResourceList" data-ng-click="togglePanelResourceList()"><i class="glyphicon glyphicon-list-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div id="content">

    <div ui-view></div>

</div>

<div id="footer">
    <div class="col-xs-12 navbar navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center">
                <a back-Button href><i class="glyphicon glyphicon-circle-arrow-left"></i><br></a>
            </div>
            <div class="col-xs-4 text-center">
                <a href ui-sref="model"><i class="glyphicon glyphicon-th-large"></i><br></a></div>
            <div class="col-xs-4 text-right">
                <a next-Button href><i class="glyphicon glyphicon-circle-arrow-right"></i><br></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
