<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Claire</title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/exercise.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/font-awesome.min.css') }}">

    <!-- included vendors -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/fileupload.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngularSetup.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-sanitize.min.js') }}"></script>

    <!-- common client app assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/learner-routes.js') }}"></script>

    <!-- utils assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/utils/services.js') }}"></script>

    <!-- teacher assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>

    <!-- learner assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/learner-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/item-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/services.js') }}"></script>

    <!-- basic client app context definition -->
    <script>
        var BASE_CONFIG = {
            urls: {
                api: {
                    resources: "{{ path('api_exercise_resource_list') }}",
                    models: "{{ path('api_exercise_model_list') }}",
                    attemptedModels: "{{ path('api_exercise_attempted_model_list') }}",
                    attempts: "{{ path('api_attempt_list') }}",
                    exercises: "{{ path('api_exercise_list') }}",
                    users: "{{ path('api_user_list') }}",
                    uploads: "{{ path('api_upload_image') }}"
                },
                partials: {
                    teacher: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/teacher') }}",
                    learner: "{{ asset('bundles/simpleitclaireexercise/frontend/partials/learner') }}"
                },
                images: {
                    uploads: "{{ asset('uploads/claire_exercise/') }}",
                    exercise: "{{ asset('bundles/simpleitclaireexercise/images/exercise/') }}"
                }
            },
            language: 'fr',
            currentUserId: {{ currentUserId }}
        };
        angular.module('mainApp').value('BASE_CONFIG', BASE_CONFIG);
    </script>

</head>
<body ng-controller="mainUserController">

<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="text-align: right">
        <div class="navbar-header">
            <ul class="nav navbar-brand">
                <li><a ui-sref="all-attempt-list"
                       title="Consulter les exercices que vous avez généré, revoir vos réponse ou réessayer les exercices">Mes tentatives</a>
                </li>
            </ul>
        </div>
        <span>
        <a href="{{ path('claro_desktop_open') }}" title="Retour à Claroline">
            <img src="{{ asset('bundles/clarolinecore/images/logos/clarolineconnect.png') }}"
                 style="margin-right:20px;margin-top:12px;height: 32px">
        </a></span>
    </nav>

</div>

<div id="content">
    <div ui-view></div>

</div>

</body>
</html>
