{% extends 'SimpleITClaireAppBundle:Exercise:OrderItems/container.html.twig' %}


{% block question %}

<form action="{{ path('SimpleIT_Claire_exercise_correctItem', {
                        'type': "order-items",
                        'itemId': itemId,
                        'exId': exercise.id
                    })
                    }}"
        method="post" >

    {% set _cptObj = 0 %}
    <table cellpadding="10"><tbody>
    {% for obj in item.objects %}
            <tr>
                <td>{{ _cptObj }}</td>
                <td> - </td>
                {% if obj.source is defined %}
                    <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ obj.source }}"
                         alt="{{ obj.source }}." align="center"/></td>
                {% elseif obj.content is defined %}
                    <td>{{ obj.content }}</td>
                {% endif %}
            </tr>

        {% set _cptObj = _cptObj + 1 %}
    {% endfor %}
    </tbody></table>

    {% set _cptObj = 0 %}
    <table cellpadding="10"><tbody>
            <tr>
    {% for obj in item.objects %}
                    <td>
                    {% if item.giveFirst == "true" and (_cptObj == 0 or _cptObj == (item.objects | length) - 1) %}
                        <input id="answer{{ _cptObj }}"
                                    type="text"
                                    size="2"
                                    name="answers[{{ _cptObj }}]"
                                    value="{{_cptObj}}"
                                    readonly="true"
                                    />
                    {% else %}
                        <input id="answer{{ _cptObj }}"
                                    type="text"
                                    size="2"
                                    name="answers[{{ _cptObj }}]"
                                    />
                    {% endif %}
                    </td>
        {% set _cptObj = _cptObj + 1 %}
    {% endfor %}
            </tr>
    </tbody></table>

    <input type="hidden"
            name="user"
            value="{{ user }}">

    <input type="hidden"
            name="apiItemId"
            value="{{ item.id }}">


    <input type="submit" value="Envoyer"  class="submit-button" />
</form>
{% endblock %}