<div class="course-paginate">
    {% if previous is not null %}
        {% if previous.subtype == 'course' %}
            <a class="before" href="{{ path('simple_it_claire_course_course_edit', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':course.id, 'status':course.status}) }}">
                <span class="arrow-left"></span>
                <span class="next">{{ previous.title }}</span>
            </a>
        {% else %}
            <a class="before" href="{{ path('simple_it_claire_course_part_edit', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':course.id,'partIdentifier':previous.id, 'status':course.status}) }}">
                <span class="arrow-left"></span>
                <span class="next">{{ previous.title }}</span>
            </a>
        {% endif %}
    {% endif %}
    {% if next is not null %}
        <a class="after" href="{{ path('simple_it_claire_course_part_edit', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':course.id,'partIdentifier':next.id, 'status':course.status}) }}">
            <span class="next">{{ next.title }}</span>
            <span class="arrow-right"></span>
        </a>
    {% endif %}
</div>


