{% if previous is not null %}
    {% if previous.subtype == 'course' %}
        <a href="{{ path('simple_it_claire_course_course_view', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':courseIdentifier}) }}">
            {{ previous.title }}</a>
    {% else %}
        <a href="{{ path('simple_it_claire_course_part_view', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':courseIdentifier,'partIdentifier':previous.slug}) }}">{{ previous.title }}</a>
    {% endif %}
{% endif %}
{% if next is not null %}
    <a href="{{ path('simple_it_claire_course_part_view', {'categoryIdentifier':categoryIdentifier,'courseIdentifier':courseIdentifier,'partIdentifier':next.slug}) }}">{{ next.title }}</a>
{% endif %}

