{% import 'SimpleITClaireAppBundle:Common:macros.html.twig' as macro %}
<ul class="grid-blocs-list {% if app.request.get('grid3') %} grid-blocs-3 {% else %} grid-blocs-2 {% endif %}">
    {% for course in courses %}
        <li class="grid-bloc">
            <a class="grid-bloc-link" href="{{ path('simple_it_claire_course_course_view', {'categoryIdentifier': course.category.slug,'courseIdentifier':course.slug, 'status':'waiting-for-publication'}) }}">
                <span class="grid-bloc-image">
                    <img src="{{ course.metadatas | courseImage }}"/>
                </span>
                <span class="grid-bloc-title">
                    <span class="course-title" title="{{ course.title }}">{{ course.title }}</span>
                    {% if course.tags > 0 %}
                        <span class="course-tags">
                            {% for tag in course.tags %}
                                {{ tag.name }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
