<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Author</title>

    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/webAuthor/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/webAuthor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/webAuthor/css/custom-style.css') }}">

    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/vendors/draganddrop.js') }}"></script>

    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/routes.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/webAuthor/js/services.js') }}"></script>


</head>
<body ng-controller="mainCtrl">

    <div id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!--
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="#">AngularUI Router</a>
            </div>-->

            <ul class="nav navbar-nav">
                <li><a ui-sref="modelList">Modèles d'exercices</a></li>
                <li><a ui-sref="resourceList">Resources</a></li>
                <li><a href class="navbar-brand"><i class="glyphicon glyphicon-user pull-right"></i></a></li>
            </ul>
        </nav>

    </div>

    <div id="content">

        <div ui-view></div>

    </div>

    <div id="footer">
        <div class="col-xs-12 navbar navbar-inverse navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-4 text-center"><a back-Button href><i class="glyphicon glyphicon-circle-arrow-left"></i><br></a></div>
                <div class="col-xs-4 text-center"><a href ui-sref="modelList"><i class="glyphicon glyphicon-th-large"></i><br></a></div>
                <div class="col-xs-4 text-right"><a next-Button href><i class="glyphicon glyphicon-circle-arrow-right"></i><br></a></div>
            </div>
        </div>
    </div>

</body>
</html>