<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>

<h2>Métadonnées</h2>
<h3>Métadonnées clé/valeur</h3>

<form action="{{ path('simple_it_claire_component_exercise_owner_resource_metadata_edit',
{ 'ownerResourceId': ownerResource.id}) }}" method="post">

    <input type="button" onclick="addMetadata()" value="Ajouter"/>

    <table id="metadataList">
        {% set _cptMd = 0 %}
        {% if ownerResource.metadata |length > 0 %}
            {% for key, value in ownerResource.metadata if key != '_misc' %}
                <tr>
                    <td>
                        <input type="text" size="20" name="metaKey[{{ _cptMd }}]"
                               value="{{ key }}"/>
                    </td>
                    <td>
                        <input type="search" size="30" name="metaValue[{{ _cptMd }}]"
                               value="{{ value }}"/>
                    </td>
                    <td>
                        <button type="button" class="js-remove">-</button>
                    </td>
                </tr>
                {% set _cptMd = _cptMd + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    <input type="text" size="20" name="metaKey[{{ _cptMd }}]"
                           value="clé"/>
                </td>
                <td>
                    <input type="search" size="30" name="metaValue[{{ _cptMd }}]"
                           value="valeur"/>
                </td>
                <td>
                    <button type="button" class="js-remove">-</button>
                </td>
            </tr>
            {% set _cptMd = _cptMd + 1 %}
        {% endif %}
    </table>

    <h3>Métadonnées libres</h3>

    <input type="button" onclick="addMisc()" value="Ajouter"/>

    <table id="miscList">
        {% set _cptMd = 0 %}
        {% if misc |length > 0 %}
            {% for value in misc %}
                <tr>
                    <td>
                        <input type="search" size="20" name="misc[{{ _cptMd }}]"
                               value="{{ value }}"/>
                    </td>
                    <td>
                        <button type="button" class="js-remove">-</button>
                    </td>
                </tr>
                {% set _cptMd = _cptMd + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    <input type="search" size="20" name="misc[{{ _cptMd }}]"
                           value="Valeur"/>
                </td>
                <td>
                    <button type="button" class="js-remove">-</button>
                </td>
            </tr>
            {% set _cptMd = _cptMd + 1 %}
        {% endif %}
    </table>

    <h3>Valider</h3>
    <input type="submit"/>
</form>

<script>
    function addMetadata() {
        var
                $table = $('#metadataList'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $inputText = $last.find('input[type=text]'),
                $clone = $last.clone(),
                prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]/))[1] : 0;


        prevId = parseInt(prevId, 0);

        // key
        $clone
                .find('input[type=text]')
                .attr('name', 'metaKey[' + (prevId + 1) + ']')
                .val('clé');

        // value
        $clone
                .find('input[type=search]')
                .attr('name', 'metaValue[' + (prevId + 1) + ']')
                .val('valeur');

        $clone.appendTo($table);
    }

    function addMisc() {
        var
                $table = $('#miscList'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $inputText = $last.find('input[type=search]'),
                $clone = $last.clone(),
                prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]/))[1] : 0;


        prevId = parseInt(prevId, 0);

        // value
        $clone
                .find('input[type=search]')
                .attr('name', 'misc[' + (prevId + 1) + ']')
                .val('Valeur');

        $clone.appendTo($table);
    }

    $(function () {
        $('table').on('click', '.js-remove', function (event) {
            $(event.target).closest('tr').remove();
        })
    })
</script>
