{% import 'SimpleITClaireAppBundle:Common:macros.html.twig' as macro %}
<h3>Liste des ressources</h3>
<ul class="simple-list">
    {% for ownerResource in ownerResources %}
        <li>
            <div class="js-resource-item" data-drag-config="{{ { resources: ownerResource.id }|json_encode() }}">
                {% if public %}
                    <a href="{{ path('simple_it_claire_component_exercise_resource_add_to_perso',{ 'resourceId': ownerResource.resource}) }}">
                    <span>
                        Importer
                    </span>
                    </a>
                {% else %}
                    <a href="{{ path('simple_it_claire_component_exercise_owner_resource_edit',{ 'ownerResourceId': ownerResource.id}) }}">
                    <span>
                        Editer
                    </span>
                    </a>
                    /
                    <a href="{{ path('simple_it_claire_component_exercise_owner_resource_delete',{ 'ownerResourceId': ownerResource.id}) }}">
                    <span>
                        Supprimer de l'espace perso
                    </span>
                    </a>
                {% endif %}

                <ul>
                    <li>
                        OwnerResource Id : {{ ownerResource.id }}
                    </li>
                    <li>
                        Id de la ressource pointée : {{ ownerResource.resource }}
                    </li>
                    <li>
                        Type : {{ ownerResource.type }}
                    </li>
                    <li>
                        Public : {{ ownerResource.public }}
                    </li>
                    {% if ownerResource.content.source is defined %}
                        <li>
                            Source : {{ ownerResource.content.source }}
                        </li>
                    {% elseif ownerResource.content.sequenceType is defined %}
                        <li>
                            Type de séquence : {{ ownerResource.content.sequenceType }}
                        </li>
                    {% elseif ownerResource.content.question is defined %}
                        <li>
                            Question : {{ ownerResource.content.question }}
                        </li>
                    {% endif %}
                    <li>
                        Metadonnées :
                        <ul>
                            {% for key, value in ownerResource.metadata %}
                                <li>
                                    {% if key == "_misc" %}
                                        Divers :
                                        <ul>
                                            {% for miscVal in value %}
                                                <li>
                                                    {{ miscVal }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ key }} : {{ value }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>
{{ macro.pagination(ownerResources, collectionInformation, paginationUrl) }}
