    <h2>Recherche</h2>
<form action="{{ path('simple_it_claire_component_owner_resource_search_list') }}" method="GET">

<h3>Par clé/valeurs</h3>
    <input type="button" onclick="addFilter()" value="Ajouter"/>
    <table id="filters">
        {% set _cptFilters = 0 %}
        {% if metadataArray |length > 0 %}
            {% for key, value in metadataArray %}
                <tr>
                    <td>
                        Clé :
                    </td>
                    <td>
                        <input type="text" size="20" name="metaKey{{ _cptFilters }}" value="{{ key }}"/>
                    </td>
                    <td>
                        Valeur :
                    </td>
                    <td>
                        <input type="search" name="metaValue{{ _cptFilters }}" value="{{ value }}"/>
                    </td>
                    <td>
                        <button type="button" class="js-remove">-</button>
                    </td>
                </tr>
                {% set _cptFilters = _cptFilters + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Clé :
                </td>
                <td>
                    <input type="text" size="20" name="metaKey{{ _cptFilters }}"/>
                </td>
                <td>
                    Valeur :
                </td>
                <td>
                    <input type="search" name="metaValue{{ _cptFilters }}"/>
                </td>
                <td>
                    <button type="button" class="js-remove">-</button>
                </td>
            </tr>
        {% endif %}
    </table>

<h3>Par mot-clé</h3>
    <input type="button" onclick="addKeyWords()" value="Ajouter"/>
    <table id="keywords">
        {% set _cptKW = 0 %}
        {% if miscArray |length > 0 %}
            {% for value in miscArray %}
                <tr>
                    <td>
                        Valeur :
                    </td>
                    <td>
                        <input type="search" name="misc{{ _cptKW }}" value="{{ value }}"/>
                    </td>
                    <td>
                        <button type="button" class="js-remove">-</button>
                    </td>
                </tr>
                {% set _cptKW = _cptKW + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Valeur :
                </td>
                <td>
                    <input type="search" name="misc{{ _cptKW }}"/>
                </td>
                <td>
                    <button type="button" class="js-remove">-</button>
                </td>
            </tr>
        {% endif %}
    </table>

    <input type="submit">
</form>
<h2>Espace personnel</h2>
{% include 'SimpleITClaireAppBundle:Exercise/OwnerResource/Component:list.html.twig'
with{'ownerResources':ownerResources} %}

<h2>Espace public</h2>
{% include 'SimpleITClaireAppBundle:Exercise/OwnerResource/Component:list.html.twig'
with{'ownerResources':publicOwnerResources} %}

<script>
    function addFilter() {
        var $table = $('#filters'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $inputText = $last.find('input[type=text]'),
                $clone = $last.clone(),
                prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/([0-9]+)/))[1] : 0;


        prevId = parseInt(prevId, 0);

        // metaKey
        $clone
                .find('input[type=text]')
                .attr('name', 'metaKey' + (prevId + 1))
                .val('');

        // metaValue
        $clone
                .find('input[type=search]')
                .attr('name', 'metaValue' + (prevId + 1))
                .val('');

        $clone.appendTo($table);
    }

    function addKeyWords() {
        var $table = $('#keywords'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $inputText = $last.find('input[type=search]'),
                $clone = $last.clone(),
                prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/([0-9]+)/))[1] : 0;


        prevId = parseInt(prevId, 0);

        // value
        $clone
                .find('input[type=search]')
                .attr('name', 'misc' + (prevId + 1))
                .val('');

        $clone.appendTo($table);
    }

    $(function () {
        $('table').on('click', '.js-remove', function (event) {
            $(event.target).closest('tr').remove();
        })
    })
</script>
