<h2>Type d'exercice</h2>

<form action="{{ path('simple_it_claire_component_exercise_exercise_model_type_edit',
{ 'resourceId': resource.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
