<tr>
    <td>
        <label>Nombre de {{ objectName }} :
            <input type="text" size="20" name="blocks[{{ _cptBlock }}][numberOfOccurences]"
                   {% if block != NULL %}value="{{ block.numberOfOccurences }}{% endif %}"/>
        </label>
    </td>
</tr>
<tr>
    <td>
        <label>
            <input type="radio" name="blocks[{{ _cptBlock }}][resourceOrigin]"
                   value="list"
                   {% if block != NULL and block.resources |length > 0 %}checked{% endif %}/>
        </label>
        Liste de ressources
        <label>
            <input type="radio" name="blocks[{{ _cptBlock }}][resourceOrigin]"
                   value="constraints"
                   {% if block != NULL and block.resources |length == 0 %}checked{% endif %}/>
        </label>
        Contraintes
    </td>
</tr>
{% if block != NULL and block.resources |length > 0 %}
    <tr>
        <td>
            <table class="resourceList">
                <tr>
                    <td><h4>Liste des ressources</h4></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="js-add-resource">+</button>
                    </td>
                </tr>
                <tr>
                    <th>Id de ressource</th>
                </tr>
                {% for resource in block.resources %}
                    <tr>
                        <td>
                            <label>
                                <input type="text" size="20" name="resources[{{ _cptBlock }}][]" value="{{ resource.id }}"/>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="js-remove-resource">-</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% else %}
    <tr>
        <td>
            <table class="resourceList">
                <tr>
                    <td><h4>Liste des ressources</h4></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="js-add-resource">+</button>
                    </td>
                </tr>
                <tr>
                    <th>Id de ressource</th>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="text" size="20" name="resources[{{ _cptBlock }}][]"/>
                        </label>
                    </td>
                    <td>
                        <button type="button" class="js-remove-resource">-</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endif %}
{% if block != NULL and block.resourceConstraint != NULL %}
    <tr>
        <td>
            <table>
                <tr>
                    <td><h4>Contraintes</h4></td>
                </tr>
                <tr>
                    <td>
                        <table class="constrBloc">
                            <tr>
                                <td><h5>Liste des filtres de recherche</h5></td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="js-add-constraint">+</button>
                                </td>
                            </tr>
                            {% set _cptMdc = 0 %}
                            {% for mdc in block.resourceConstraint.metadataConstraints %}
                                <tr>
                                    <td>
                                        <button type="button" class="js-remove-constraint">-</button>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" class="key" size="20" name="key[{{ _cptBlock }}][{{ _cptMdc }}]" value="{{ mdc.key }}"/>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <select class="comparator" name="comparator[{{ _cptBlock }}][{{ _cptMdc }}]">
                                                <option value="in"
                                                        {% if mdc.comparator == "in" %}
                                                selected
                                                        {% endif %}>à valeur dans la liste
                                                </option>
                                                <option value="between"
                                                        {% if mdc.comparator == "between" %}
                                                selected
                                                        {% endif %}>entre . et .
                                                </option>
                                                <option value="lt"
                                                        {% if mdc.comparator == "lt" %}
                                                selected
                                                        {% endif %}>inférieur à
                                                </option>
                                                <option value="lte"
                                                        {% if mdc.comparator == "lte" %}
                                                selected
                                                        {% endif %}>inférieur ou égal à
                                                </option>
                                                <option value="gt"
                                                        {% if mdc.comparator == "gt" %}
                                                selected
                                                        {% endif %}>supérieur à
                                                </option>
                                                <option value="gte"
                                                        {% if mdc.comparator == "gte" %}
                                                selected
                                                        {% endif %}>supérieur ou égal à
                                                </option>
                                                <option value="exists"
                                                        {% if mdc.comparator == "exists" %}
                                                selected
                                                        {% endif %}>clé existe
                                                </option>
                                            </select>
                                        </label>
                                    </td>
                                    <td>
                                        <button type="button" class="js-add-value">+</button>
                                    </td>
                                    {% for value in mdc.values %}
                                        <td>
                                            <label>
                                                <input class="values" type="text" size="20"
                                                       name="values[{{ _cptBlock }}][{{ _cptMdc }}][]" value="{{ value }}"/>
                                            </label>
                                            <button type="button" class="js-remove-value">x</button>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% set _cptMdc = _cptMdc + 1 %}
                            {% endfor %}
                        </table>
                    <td>
                </tr>
            </table>
        </td>
    </tr>
{% else %}
    <tr>
        <td>
            <table>
                <tr>
                    <td><h4>Contraintes</h4></td>
                </tr>
                <tr>
                    <td>
                        <table class="constrBloc">
                            <tr>
                                <td><h5>Liste des filtres de recherche</h5></td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="js-add-constraint">+</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="js-remove-constraint">-</button>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" class="key" size="20" name="key[{{ _cptBlock }}][0]"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <select class="comparator" name="comparator[{{ _cptBlock }}][0]">
                                            <option value="in">à valeur dans la liste</option>
                                            <option value="between">entre . et .</option>
                                            <option value="lt">inférieur à</option>
                                            <option value="lte">inférieur ou égal à</option>
                                            <option value="gt">supérieur à</option>
                                            <option value="gte">supérieur ou égal à</option>
                                            <option value="exists">clé existe</option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <button type="button" class="js-add-value">+</button>
                                </td>
                                <td>
                                    <label>
                                        <input class="values" type="text" size="20"
                                               name="values[{{ _cptBlock }}][0][]"/>
                                    </label>
                                    <button type="button" class="js-remove-value">x</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endif %}

