{% macro build(toc, courseId) %}
    {% for child in toc.children %}

        {#{% if child.subtype == 'chapter' or child.subtype == 'part' %}#}
            {% include 'TutorialBundle:Course/Course/Component/toc:' ~ child.subtype ~ '.html.twig' with {'item': child, 'index': loop.index } %}

        {#part#}
        {#chapter#}
        {#chapter#}
        {#chapter-creation#}
        {#part#}
        {#chapter#}
        {#chapter-creation#}
        {#part-creation#}


{#<div>#}
    {#{{ child.subtype }}#}
{#</div>#}
            {#<a href="{{ child.url }}">{{ child.image }}{{ child.title }}</a>#}
        {#{% elseif child.subtype == 'chapter-creation' or child.subtype == 'part-creation' %}#}
            {#<a href="{{ child.url }}">+</a>#}
        {#{% endif %}#}

            {#{{ _self.build(child) }}#}

    {% endfor %}
{% endmacro %}
