<form action="{{ path('simple_it_claire_component_course_course_metadata_description_edit', { 'courseId': courseId}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.value) }}
    {{ form_widget(form.value) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
