<form action="{{ actionUrl }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
