{% trans_default_domain "course" %}
<ul class="informations">
    {% if informations.difficulty is not empty %}
        <li class="difficulty">
            <div class="img-text-align">
                <span class="icon align-middle"></span>
                <div class="align-middle">
                    <p class="text-top-dashboard">{{ 'course.difficulty' | trans }}</p>
                    <p itemprop="difficulty">{{ informations.difficulty }}</p>
                </div>
            </div>
        </li>
    {% endif %}
    <li class="grade">
        <div class="img-text-align">
            <span class="icon align-middle"></span>

            <div class="align-middle">
                <p class="text-top-dashboard">{{ 'course.rate' | trans }}</p>

                <p itemprop="aggregateRating" class="star">
                    {% if informations.aggregateRating is not defined %}
                        {% set aggregateRating = 0 %}
                    {% else %}
                        {% set aggregateRating = informations.aggregateRating %}
                    {% endif %}
                    {% include "SimpleITClaireAppBundle:Common:rating.html.twig" with { 'note' : aggregateRating } %}
                </p>
            </div>
        </div>
    </li>
    {% if informations.timeRequired is not null %}
        <li class="duration">
            <div class="img-text-align">

                <span class="icon align-middle"></span>

                <div class="align-middle">
                    <p class="text-top-dashboard">{{ 'course.duration' | trans }}</p>

                    <p itemprop="duration"> {{ informations.timeRequired | dateInterval }}</p>
                </div>
            </div>
        </li>
    {% endif %}
</ul>
