<div class="difficulty">
    <span class="icon"></span>
    <div>
        <strong>Difficulté</strong>
        <form class="js-course-difficulty" action="{{ path('simple_it_claire_component_part_metadata_edit_difficulty', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            {{ form_errors(form.difficulty) }}
            {{ form_widget(form.difficulty) }}
            {{ form_rest(form) }}
            <input type="submit">
            {#Remove submit#}
        </form>
    </div>
</div>
