<form id="claire_part_form" action="{{ path('simple_it_claire_component_part_metadata_edit_duration', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.days) }}
    {{ form_widget(form.days) }}
    {{ form_errors(form.hours) }}
    {{ form_widget(form.hours) }}
    {{ form_errors(form.minutes) }}
    {{ form_widget(form.minutes) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
