<tr class="classifTr">
    <td>
        <button type="button" class="js-remove-constraint">-</button>
        <label>
            <input type="text" class="key" size="20" name="{{ keyName }}[{{ cptBlock }}][{{ cptMdc }}]"
                   {% if mdc != NULL %}value="{{ mdc.key }}"{% endif %}/>
        </label>
        <label>
            <select class="comparator" name="{{ comparatorName }}[{{ cptBlock }}][{{ cptMdc }}]">
                <option value="in"
                        {% if mdc != NULL and mdc.comparator == "in" %}
                selected
                        {% endif %}>à valeur dans la liste
                </option>
                <option value="between"
                        {% if mdc != NULL and mdc.comparator == "between" %}
                selected
                        {% endif %}>entre . et .
                </option>
                <option value="lt"
                        {% if mdc != NULL and mdc.comparator == "lt" %}
                selected
                        {% endif %}>inférieur à
                </option>
                <option value="lte"
                        {% if mdc != NULL and mdc.comparator == "lte" %}
                selected
                        {% endif %}>inférieur ou égal à
                </option>
                <option value="gt"
                        {% if mdc != NULL and mdc.comparator == "gt" %}
                selected
                        {% endif %}>supérieur à
                </option>
                <option value="gte"
                        {% if mdc != NULL and mdc.comparator == "gte" %}
                selected
                        {% endif %}>supérieur ou égal à
                </option>
                <option value="exists"
                        {% if mdc != NULL and mdc.comparator == "exists" %}
                selected
                        {% endif %}>clé existe
                </option>
            </select>
        </label>
        <button type="button" class="js-add-value">+</button>
    </td>
    {% if mdc != NULL %}
        {% for value in mdc.values %}
            <td>
                <label>
                    <input class="values" type="text" size="20"
                           name="{{ valuesName }}[{{ cptBlock }}][{{ cptMdc }}][]" value="{{ value }}"/>
                </label>
                <button type="button" class="js-remove-value">x</button>
            </td>
        {% endfor %}
    {% else %}
        <td>
            <label>
                <input class="values" type="text" size="20"
                       name="{{ valuesName }}[{{ cptBlock }}][{{ cptMdc }}][]"/>
            </label>
            <button type="button" class="js-remove-value">x</button>
        </td>
    {% endif %}
</tr>
