{% set _isList = (block.resourceConstraint.metadataConstraints[0].key|length == 0) %}


{% if onlyOneOccurence is not defined or onlyOneOccurence != true %}
    <div>
        <label>Nombre de {{ objectName }} :
            <input type="text" required size="20" name="{{ blocksName }}[{{ _cptBlock }}][numberOfOccurences]"
                   {% if block != NULL %}value="{{ block.numberOfOccurences }}{% endif %}"/>
        </label>
    </div>
{% endif %}

<div class="js-claire-tabs">

    <div>
        <input type="radio" name="{{ blocksName }}[{{ _cptBlock }}][resourceOrigin]"
               value="list" {{ _isList ? 'checked' }}
                />

        <input type="radio" name="{{ blocksName }}[{{ _cptBlock }}][resourceOrigin]"
               value="constraints"
                {{ not _isList ? 'checked' }}
                />
    </div>

    <ul>
        <li><a href="#tabs-list">Liste des ressources</a></li>
        <li><a href="#tabs-constraints">Contraintes</a></li>
    </ul>

    <div id="tabs-list" class="js-items-list resourceList">
        Id de ressource

        <div class="js-items-list-container">
            {% for resource in block.resources %}
                <div class="js-items-list-item">
                    <label>
                        <input type="text" size="20" name="{{ resourcesName }}[{{ _cptBlock }}][]" value="{{ resource.id }}"/>
                    </label>
                    <button type="button" class="js-items-list-remove">-</button>
                </div>
            {% endfor %}
        </div>

        <button type="button" class="js-items-list-add">+ ajouter</button>
    </div>

    <div id="tabs-constraints">

        <table>
            <tr>
                <td><h4>Contraintes</h4></td>
            </tr>
            {% if askType %}
                <tr>
                    <td>
                        <label>Type :
                            <select name="{{ typeName }}[{{ _cptBlock }}]">
                                <option value="" {% if block.resourceConstraint.type is not defined %}selected{% endif %}></option>
                                <option value="picture" {% if block.resourceConstraint.type is defined and block.resourceConstraint.type == 'picture' %}selected{% endif %}>Image</option>
                                <option value="text" {% if block.resourceConstraint.type is defined and block.resourceConstraint.type == 'text' %}selected{% endif %}>Texte</option>
                            </select>
                        </label>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    <table class="constrBloc">
                        <tr>
                            <td><h5>Liste des filtres de recherche</h5></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="js-add-constraint">+</button>
                            </td>
                        </tr>
                        {% set _cptMdc = 0 %}
                        {% for mdc in block.resourceConstraint.metadataConstraints %}

                            {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/classificationConstraints.html.twig'
                            with {'mdc' : mdc,
                            'keyName' : keyName,
                            'comparatorName' : comparatorName,
                            'valuesName' : valuesName,
                            'cptBlock' : _cptBlock,
                            'cptMdc' : _cptMdc} %}

                            {% set _cptMdc = _cptMdc + 1 %}
                        {% endfor %}
                    </table>
                <td>
            </tr>

            <tr>
                <td>
                    {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/excluded.html.twig'
                    with {'excludeds' : block.resourceConstraint.excluded,
                    'excludedName' : excludedName ~ '[' ~ _cptBlock ~']'} %}
                </td>
            </tr>
        </table>

    </div>

</div>



