{% extends 'SimpleITClaireAppBundle:Exercise/PairItems/Component:container.html.twig' %}


{% block question %}
plop
    <form action="{{ path('simple_it_exercise_answer', {
    'itemNumber': itemNumber,
    'exerciseId': exerciseId
    }
    ) }}"
          method="post">

        {% set _cptPair = 0 %}
        <table cellpadding="10">
            <tbody>
            {% for index, lp in item.leftParts %}
                <tr>
                    {% if lp.source is defined %}
                        <td>
                            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ lp.source }}"
                                 alt="{{ lp.source }}." align="center"/></td>
                    {% elseif lp.text is defined %}
                        <td>{{ lp.text }}</td>
                    {% endif %}
                    <td><input id="answer{{ _cptPair }}"
                               type="text"
                               size="1"
                               name="answers[{{ _cptPair }}]"
                                /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ _cptPair }} -</td>
                    {% if item.rightParts[index].source is defined %}
                        <td>
                            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ item.rightParts[index].source }}"
                                 alt="{{ item.rightParts[index].source }}." align="center"/></td>
                    {% elseif item.rightParts[index].text is defined %}
                        <td>{{ item.rightParts[index].text }}</td>
                    {% endif %}
                </tr>

                {% set _cptPair = _cptPair + 1 %}
            {% endfor %}

            </tbody>
        </table>

        <input type="submit" value="Envoyer" class="submit-button"/>
    </form>
{% endblock %}
