<form class="claire-part-author" action="{{ path('simple_it_claire_component_course_author_list_edit', { 'courseIdentifier': courseIdentifier}) }}" method="post">
    {#{{ form_errors(form) }}#}
    <input type="text" value="{{ authors }}">
    {#{{ form_errors(form.authors) }}#}
    {#{{ form_widget(form.autors) }}#}
    {#{{ form_rest(form) }}#}
    {#<input type="submit">#}
    {#Remove submit#}
</form>
