{% trans_default_domain "user" %}
<section class="authors">
    <div class="author-description">
        {% if authors is defined and authors|length > 0 %}
            <h2>
                {{ 'author.choice' | transchoice(authors|length) }}
            </h2>
        {% endif %}

        {% if authors is defined and authors|length > 0 %}
            {% for author in authors %}
                    <div class="author author-{#{{ author_user.id }}#}">
                        <span class="author-illustration">
                            <a href="{#{{ path('fos_user_profile_show', { 'slug': author_user.slug }) }}#}">
                                <img src="{#{{ avatar(author_user) }}#}" alt="" />
                            </a>
                        </span>
                        <div class="author-caption">
                            <strong>
                                <a href="{{ path('fos_user_profile_show', { 'slug': author.slug }) }}">
                                    {{ author.firstname }}
                                    {{ author.lastname }}
                                    {{ author.username }}
                                </a>
                            </strong>
                            {#{% if author.miniBiography is not empty %}
                                <span>
                                    {{ author.miniBiography | truncate(140) }}
                                </span>
                            {% endif %}
                            <div class="author_likes">{{ author_likes }}</div>#}
                        </div>



                      {#
                        {% set author_have_social = false %}
                        {% for userSocial in author_user.userSocials %}
                            {% if userSocial.username is not empty %}
                                {% if userSocial.social.name == 'Facebook' %}
                                    {% set author_have_social = true %}
                                {% elseif userSocial.social.name == 'Twitter' %}
                                    {% set author_have_social = true %}
                                {% elseif userSocial.social.name == 'Google +' %}
                                    {% set author_have_social = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if author_have_social %}
                            <div class="author-socials">
                                <div>
                                    {% set firstSocial = true %}
                                    {% for userSocial in author_user.userSocials %}
                                        {% if userSocial.username is not empty %}
                                            {% if userSocial.social.name == 'Facebook' %}
                                                {% if firstSocial %}
                                                    {% set firstSocial = false %}
                                                {% else %}
                                                    •
                                                {% endif %}
                                                <a href="{{ userSocial.username | socialUrl('Facebook') }}">Facebook</a>
                                            {% elseif userSocial.social.name == 'Twitter' %}
                                                {% if firstSocial %}
                                                    {% set firstSocial = false %}
                                                {% else %}
                                                    •
                                                {% endif %}
                                                <a href="{{ userSocial.username | socialUrl('Twitter') }}">Twitter</a>
                                            {% elseif userSocial.social.name == 'Google +' %}
                                                {% if firstSocial %}
                                                    {% set firstSocial = false %}
                                                {% else %}
                                                    •
                                                {% endif %}
                                                <a href="{{ userSocial.username | socialUrl('Google +') }}?rel=author">Google +</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}#}
                    </div>
            {% endfor %}


        {% endif %}
    </div>
    {#{% if is_granted("ROLE_USER") and authors is defined and authors|length > 0 and not userAlreadyLiked %}
        <div class="authors-thanks">
            <h2>
                {% transchoice authors|length %}
                    {1} Thank the author|]1,Inf] Thank the authors
                {% endtranschoice %}
            </h2>
            <a href="{{ path('course_like', { 'categorySlug': category.slug, 'courseSlug' : course.slug, 'token': app.session.get('token') } ) }}" class="like_course_button">
                    <div class="btn-primary validation_button like_message">{{ 'course.like.button' | trans }}</div>
                    <span class="hearts"></span>
            </a>
        </div>
    {% endif %}#}
</section>
