<h1>Créer une nouvelle ressource</h1>

<h2>Choix du type</h2>

<form action="{{ path('web_resource_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
