<!DOCTYPE html>
<html>
    <head></head>

    <body>



        <div style="width:600px">
            <form id="claire_part_content_form" action="{{ path('simple_it_claire_module_part_content_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post">
            <!-- <form id="claire_part_content_form" action="/test.php" method="post"> -->
                <textarea
                    class="tinymce editor" rows="40" cols="70"
                    id="contentEditor"
                    name="partContent"
                    data-theme="claire"
                >{{ partContent }}</textarea>
                <!-- <input id="Comment_writingType" class="writingType" type="hidden" name="Comment[writingType]" value="editor"> -->
                <input type="submit" value="Sauvegarder" />
            </form>
        </div>

        <!-- main -->
        <script src="/bundles/common/js/claire/lib/lodash.compat.js"></script>
        <script src="/bundles/common/js/claire/lib/jquery.js"></script>
        <script src="/bundles/common/js/claire/lib/jquery-ui.js"></script>

        <!-- <script src="/bundles/common/js/claire/lib/tinymce/tinymce.min.js"></script>

        <!-- widgets -->
        <script src="/bundles/common/js/claire/app/core.js"></script>
        <script src="/bundles/common/js/claire/widgets/wysiwygEditor/wysiwygEditor.js"></script>
        <script src="/bundles/common/js/claire/lib/tinymce/jquery.tinymce.min.js"></script>
        <script src="/bundles/common/js/claire/widgets/wysiwygEditor/wysiwygEditorTinyMCE.js"></script>

        <!-- page -->
        <script src="/bundles/common/js/claire/app/tutorials/editor.js"></script>

{#
        {% javascripts output='js/main.js'
            '@CommonBundle/Resources/public/js/claire/lib/lodash.compat.js'
            '@CommonBundle/Resources/public/js/claire/lib/jquery.js'
            '@CommonBundle/Resources/public/js/claire/lib/jquery-ui.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
#}

{#
<form id="claire_part_content_form" action="{{ path('simple_it_claire_module_part_content_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post">
    <textarea id="contentEditor" data-theme="claire" class="tinymce editor" rows="40" cols="70" name="partContent">{{ partContent }}</textarea>
    <!-- <input id="Comment_writingType" class="writingType" type="hidden" name="Comment[writingType]" value="editor"> -->
    <input type="submit"/>
</form>

{% javascripts '@SimpleIT/ClaireAppBundle/Resources/public/js/jquery.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script>
    $(document).ready(function () {

        // $("#claire_part_content_form").submit(function () {
        //     console.log($('textarea[name="partContent"]'));
        //     $.ajax({
        //         type: "POST",
        //         url: "{{ path('simple_it_claire_module_part_content_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}",
        //         //url: "http://claire.siteduzero.lan/app_dev.php/courses/creez-des-applications-pour-blackberry/parts/lire-une-video/content",
        //         dataType: "html",
        //         data: $('textarea[name="partContent"]').val(),
        //         cache: false,
        //         success: function (data) {
        //             $('textarea[name="partContent"]').val(data);
        //             //console.log(data);
        //         },
        //         error: function () {
        //             alert('oups');
        //         }
        //     });
        //     return false;
        // });
    });
</script>
{{ tinymce_init() }}
{% endjavascripts %}
#}
    </body>
</html>


