<form action="{{ path('simple_it_claire_associated_content_edit_tag_by_course', { 'courseId': courseId}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.tags) }}
    {{ form_widget(form.tags) }}
    {{ form_rest(form) }}
    <input type="submit">
    {{ searchAction }}
    {#Remove submit#}
</form>
