{% set letter = '' %}
<ul>{% for tag in tags %}

        {% set currentLetter = tag.name|firstForList %}
        {% if letter != currentLetter %}
            {% set letter = currentLetter %}

            {{ letter }}

        {% endif %}

        <li>
            <a href="{{ path('simple_it_claire_tag_view', {'categoryIdentifier' : categoryIdentifier, 'tagIdentifier' : tag.slug }) }}">{{ tag.name }}</a>
            {% if tag.headlineCourse is not null %}
                <a href="{{ path('simple_it_claire_course_view', { 'categoryIdentifier' : categoryIdentifier, 'courseIdentifier': tag.headlineCourse.slug}) }}">{{ tag.headlineCourse.title }}</a>
            {% endif %}
            {{ tag.coursesNumber }}
        </li>
    {% endfor %}
</ul>
