{% set letter = '' %}
<ul class="tag-column">
    {% for tag in tags %}
        {% set currentLetter = tag.name|firstForList %}
        {% if letter != currentLetter %}
            {% set letter = currentLetter %}

            <strong> {{ letter }} </strong>

        {% endif %}
        <li class="tag-content">
            <a class="tag-name" href="{{ path('simple_it_claire_associated_content_tag_view', {'categoryIdentifier' : tag.category.slug, 'tagIdentifier' : tag.slug }) }}">{{ tag.name }}</a>
            <a class="tag-number" href="{{ path('simple_it_claire_associated_content_tag_view', {'categoryIdentifier' : tag.category.slug, 'tagIdentifier' : tag.slug }) }}">({{ tag.coursesNumber }})</a>
        </li>
    {% endfor %}
</ul>
