<ul>{% for tag in tags %}
        {{ set letter = {tag|first} }}

        <li>{{ tag.name }}
            {% if tag.headlineCourse is not null %}
                {{ tag.headlineCourse.title }}
                {{ tag.headlineCourse.slug }}
            {% endif %}
            {{ tag.coursesNumber }}
        </li>
    {% endfor %}
</ul>
