<form action="{{ path('web_owner_exercise_model_public_edit',{ 'ownerExerciseModelId': ownerExerciseModel.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.public) }}
    {{ form_widget(form.public) }}
    {{ form_rest(form) }}
    <input type="submit">
</form>
