{% import 'SimpleITClaireExerciseBundle:Common:macros.html.twig' as macro %}
<h3>Liste des modèles</h3>
<ul>
    {% for ownerExerciseModel in ownerExerciseModels %}
        <li>
            {{ ownerExerciseModel.title }}
            {% if public %}
                <a href="{{ path('web_exercise_model_add_to_perso',{ 'exerciseModelId': ownerExerciseModel.exerciseModel}) }}">
                    <span>
                        Importer (avec les ressources requises)
                    </span>
                </a>
            {% else %}
                <a href="{{ path('web_owner_exercise_model_edit',{ 'ownerExerciseModelId': ownerExerciseModel.id}) }}">
                    <span>
                        Editer
                    </span>
                </a>
                /
                <a href="{{ path('web_owner_exercise_model_delete',{ 'ownerExerciseModelId': ownerExerciseModel.id}) }}">
                    <span>
                        Supprimer de l'espace perso
                    </span>
                </a>
            {% endif %}
            /
            <a href="{{ path('web_owner_exercise_model_try',{ 'ownerExerciseModelId': ownerExerciseModel.id}) }}">
                <span>
                    (Répondre à un exercice)
                </span>
            </a>
            <ul>
                <li>
                    Type :
                    {% if ownerExerciseModel.type == 'multiple-choice' %}
                        QCM
                    {% elseif ownerExerciseModel.type == 'group-items' %}
                        Groupement
                    {% elseif ownerExerciseModel.type == 'order-items' %}
                        Ordonnancement
                    {% elseif ownerExerciseModel.type == 'pair-items' %}
                        Appariement
                    {% endif %}
                </li>

                <li>
                    Public : {{ ownerExerciseModel.public }}
                </li>
                <li>
                    Metadonnées :
                    <ul>
                        {% for key, value in ownerExerciseModel.metadata %}
                            <li>
                                {% if key == "_misc" %}
                                    Divers :
                                    <ul>
                                        {% for miscVal in value %}
                                            <li>
                                                {{ miscVal }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ key }} : {{ value }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
{{ macro.pagination(ownerExerciseModels, collectionInformation, paginationUrl) }}
