{% extends '::base.html.twig' %}

{% block body %}
    <h1>Edition d'un cours</h1>

    <form action="{{ path('course_edit', {'slug': course.reference.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

    <hr>

    <p>
       <a href="{{ path('course_list') }}">List of courses</a> |
       <a href="{{ path('course_create') }}">Create a new course</a> |
       <a href="{{ path('course_view', {'slug': course.reference.slug}) }}">Read this course</a>
    </p>
{% endblock %}
