{% macro processToc(part, baseSlug, level) %}
        <li>
            <a class="course-title course-title-{{ level }}" data-claire-course-slug="{{ part.slug }}" href="{% if level > 0 %}{{ baseSlug }}/{% endif %}{{ part.slug }}">
                {% if part.metadatas.image is defined %}
                    <img class="course-icon" src="{{ part.metadatas.image }}" />
                {% endif %}
                <span>{{- part.title -}}</span>
            </a>
            {% if part.children|length > 0 %}

                {% if level == 1 %}
                    <section>
                {% endif %}
                <ul class="level-{{ level + 1 }}">
                    {% for child in part.children %}

                            {{ _self.processToc(child, baseSlug, level + 1) }}

                    {% endfor %}
                </ul>
                {% if level == 1 %}
                    </section>
                {% endif %}

            {% endif %}
        </li>
{% endmacro %}
