{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ category.title }}</h1>

    {% autoescape false %}
        {{ category.description }}
    {% endautoescape %}

    <hr>

    <h2>Cours associés</h2>
    {% if branches is defined %}
    <ul>
        {% for branch in branches %}
            <li>
                <a href="#">
                    {{ branch.rootElement.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <hr>

    <h2>Thématiques</h2>
    {% if tags is defined %}
    <ul>
        {% for tag in tags %}
            <li>
                <a href="{{ path('category_tags_view', { categorySlug: category.slug, slug: tag.slug }) }}">
                    {{ tag.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}