{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ category.title }}</h1>

    {% autoescape false %}
        {{ category.description }}
    {% endautoescape %}

    {% if branches is defined %}
        <hr />
        <h2>Cours associés</h2>
        <ul>
            {% for branch in branches %}
                <li>
                    <a href="{{ path('SimpleIT_Claire_course_view', {slug: branch.reference.slug}) }}">
                        {{ branch.rootElement.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if tags is defined %}
        <hr />
        <h2>Thématiques</h2>
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="{{ path('SimpleIT_Claire_categories_tag_view', { categorySlug: category.slug, slug: tag.slug }) }}">
                        {{ tag.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}