<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}CLAIRE{% endblock %}</title>
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/simpleitclaireapp/css/style.css') }}" type="text/css"
              rel="stylesheet"
              media="all"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<section class="container">
    <p><a href="{{ path('simple_it_exercise_model_list') }}">
            Abandonner et retourner à l'index
        </a></p>

    <h1>Groupement</h1>

    <p>{{ exercise.wording }}</p>

    {% block question %}{% endblock %}

</section>

<script src="{{ asset("bundles/simpleitclaireapp/js/jquery.js") }}"></script>
</body>
</html>
