{% extends 'SimpleITClaireAppBundle:Exercise/Exercise/PairItems/Component:container.html.twig' %}

{% block question %}

    <table cellpadding="10">
        <tbody>
        {% for index, lp in item.fixParts %}

            <tr>
                {% if lp.source is defined %}
                    <td>
                        <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ lp.source }}"
                             alt="{{ lp.source }}." align="center"/></td>
                {% elseif lp.text is defined %}
                    <td>{{ lp.text }}</td>
                {% endif %}

                <td><--------------></td>

                {% if item.mobileParts[item.answers[index]].source is defined %}
                    <td>
                        <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ item.mobileParts[item.answers[index]].source }}"
                             alt="{{ item.mobileParts[item.answers[index]].source }}."
                             align="center"/>
                    </td>
                {% elseif item.mobileParts[item.answers[index]].text is defined %}
                    <td>{{ item.mobileParts[item.answers[index]].text }}</td>
                {% endif %}

                <!-- Correction -->
                {% if item.answers[index] == item.solutions[index] %}
                    <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/right.png") }}"
                             alt="Tout juste." align="center"></td>
                    <td></td>
                {% else %}
                    <td><img src="{{ asset("bundles/simpleitclaireapp/img/exercise/wrong.png") }}"
                             alt="Faux." align="center"></td>
                    <td>
                        {% if item.mobileParts[item.solutions[index]].source is defined %}
                            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/") }}{{ item.mobileParts[item.solutions[index]].source }}"
                                 alt="{{ item.mobileParts[item.solutions[index]].source }}." align="center"/>
                        {% elseif item.mobileParts[item.solutions[index]].text is defined %}
                            {{ item.mobileParts[item.solutions[index]].text }}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>

    {% if item.allRight %}
        <p style="color:green">
            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/right.png") }}"
                 alt="Tout juste." align="bottom">
            {{ item.explanation }}
        </p>
    {% else %}
        <p style="color:red">
            <img src="{{ asset("bundles/simpleitclaireapp/img/exercise/wrong.png") }}"
                 alt="Faux." align="center">
            {{ item.explanation }}
        </p>
    {% endif %}

    {% if item.comment is defined %}
        <p> {{ item.comment }} </p>
    {% endif %}

{% endblock %}

