{% extends 'SimpleITClaireAppBundle:Exercise/MultipleChoice/Component:container.html.twig' %}

{% block question %}


    {% set _cptAnswer = 1 %}

    <p>{{ item.question }}</p>

    {% for proposition in item.propositions %}

        <p>
            {{ proposition.right }},
            {{ proposition.ticked }},
            {{ proposition.text }}
        </p>

        {% set _cptAnswer = _cptAnswer + 1 %}

    {% endfor %}

    <p>Votre score : {{ item.mark }} %</p>

    {#<p> {{ item.comment }} </p>#}

    {% if exercise.itemCount > itemNumber %}
        <p><a href="{{ path('simple_it_exercise_exercise_view',
            {'exerciseId': exerciseId,
            'itemNumber': itemNumber + 1 ,
            }) }}">
                <input type="submit" value="Question suivante" class="submit-button submit-button2">
            </a></p>


    {% endif %}

    <script src="{{ asset("bundles/simpleitclaireapp/js/Exercise/parse-mc.js") }}"></script>
{% endblock %}

