<h2>Edition du texte</h2>
{% if locked %}<div>Édition vérouillée</div>{% endif %}

<form action="{{ path('simple_it_claire_component_exercise_resource_text_content_edit',
{ 'resourceId': resource.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.text) }}
    {{ form_widget(form.text) }}
    {{ form_rest(form) }}
    <input type="submit">
    {#Remove submit#}
</form>
